<html>
<head>
	  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
    <h2>Yo Post Data</h2>
<h1>
    <%= user_data.nam %>
    <%= user_data.loc %>
    <%= user_data.lan %>
    <%= user_data.com %>
</h1>
</body>
</html>