<html>
<head>
	  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
    <h2>Yo Post Data</h2>
<h1>
    <%= user_data.name %>
    <%= user_data.color %>

</h1>
</body>
</html>